#btn_automated_scroll{
    background-color: #333333;
    width: 100%;
    border: none;
    border-bottom: solid #9ddcfc;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    opacity: 0.8;
    transition: 0.3s;
}
#btn_automated_scroll:hover{
    background-color: #333333;
    opacity: 1.0;
}
#arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
i {
    border: solid #9ddcfc;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }