@import url("https://fonts.googleapis.com/css?family=Quicksand:500");

body {
  background: #1d1f20;
  font-family: "Quicksand", serif;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header h1 {
  font-size: 4.5em;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-linear-gradient(
    left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation-name: colorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header-2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-2 h1 {
  font-size: 7em;
}

@keyframes colorchange {
  0% {
    background-position: right 0px bottom 0px;
  }
  100% {
    background-position: right 10em bottom 0px;
  }
}

.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #f00;
  z-index: 9999;
}

/* Define a falling animation */
@keyframes fall {
  0% {
    top: -10%;
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    top: 110%;
    opacity: 0;
    transform: rotate(360deg);
  }
}
